@import "resets";

body {
  background: url(/assets/xp-bg.jpg) center/cover fixed;
  height: 100vh;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  height: inherit;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  padding: 10px;
  background-color: #bebcbc;

  @media screen and (max-width: 800px){
    grid-template-columns: repeat(10, 28px);
  }
}

%cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px){
    width: 28px;
    height: 28px;
  }
}


.cell {
  @extend %cell;
  background-color: #c6c6c6;
  position: relative;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #939393;
  border-bottom: 5px solid #939393;
  box-sizing: border-box;
  &:hover {
    cursor: default;
  }
  @media screen and (max-width: 800px){
    border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  border-right: 4px solid #939393;
  border-bottom: 4px solid #939393;
  }
}

.cell.clicked {
  background-color: #b9b9b9;
  border: 3px solid gray;

  @media screen and (max-width: 800px){
    border: 2px solid gray;;
  }
}

.cell.right-clicked {
  background-color: rgb(53, 106, 106);
}

.bomb {
  width: 70%;
}

.adjacentNumberImg {
  width: 80%;
}

.flag {
  width: 80%;
}

.playAgain {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100px;
  height: 40px;
  background-color: #c6c6c6;
  transform: translate(-50%);
}

.win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  background-color: #ccc;
  cursor: pointer;
  border: 2px solid #929090;
}