@import "resets";

body {
  background: url(/assets/xp-bg.jpg) center/cover fixed;
  height: 100vh;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  height: inherit;
}

.board-container {
  display: grid;
  // grid-template-columns: repeat(10, 50px);
  padding: 10px;
  background-color: #808080;
}

%cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cell {
  @extend %cell;
  background-color: #c0c0c0;
  position: relative;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #939393;
  border-bottom: 5px solid #939393;
  &:hover {
    cursor: pointer;
    background-color: red;
  }
}