@import "resets";

body {
  background: url(/assets/xp-bg.jpg) center/cover fixed;
  height: 100vh;
}

.container {
  justify-content: center;
  display: flex;
  align-items: center;
  height: inherit;
}

.board-container {
  display: grid;
  // grid-template-columns: repeat(10, 50px);
  padding: 10px;
  background-color: #bebcbc;
}

%cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cell {
  @extend %cell;
  background-color: #c6c6c6;
  position: relative;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #939393;
  border-bottom: 5px solid #939393;
  box-sizing: border-box;
  &:hover {
    cursor: default;
  }
}

.cell.clicked {
  background-color: #b9b9b9;
  border: 3px solid gray;
}

.cell.right-clicked {
  background-color: rgb(53, 106, 106);
}

.bomb {
  width: 70%;
}

.adjacentNumberImg {
  width: 80%;
}

.flag {
  width: 80%;
}

.playAgain {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100px;
  height: 40px;
  background-color: #c6c6c6;
  transform: translate(-50%);
}